/* reset */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    height: 65px;
    background-color: #ff6900;
}

.navigazione {
    width: 1200px;
    display: flex;
    margin:0 auto;
    justify-content: space-between;
    text-align: center;
    padding: 25px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    height: 40px;
    width: 130px;
    padding-bottom: 10px;
}

.icon {
    
    color: #ffffff;
}

main {
    margin: 60px;

}

.layout {
    margin-top: 60px;
    width: 1200px;
    margin: 0 auto;
}

.row {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.colonna {
   height: 700px;
    width: calc(100% / 3 - 40px / 3);
    flex-shrink: 0;
    border: 2px solid black;
    position: relative;
}

.colonna img {
    width: 100%;
}

.price {
    color: red;
}

.delete {
    text-decoration: line-through;
}

.sconto {
    background-color: red;
    padding: 5px;
    position: absolute;
    bottom: 170px;
    font-size: 13px;
    color: #ffffff;
}

.caratteristica {
    background-color: green;
    padding: 5px;
    position: absolute;
    bottom: 170px;
    left: 60px;
    font-size: 13px;
    color: #ffffff;
}

.heart {
    background-color: #ffffff;
    padding: 5px;
    position: absolute;
    top: 15px;
    right: 0px;
}

.heart:hover {
    color: red;
}

.font {
    font-size: 12px;
}

.photo1 {
    display: block;
}

.photo2 {
    display: none;
}

.imageshop:hover .photo1 {
    display: none;
}

.imageshop:hover .photo2 {
    display: block;
}

footer {
    height: 80px;
    background-color: #1a1a1a;
}

ul {
    list-style-type: none;
    display: flex;
    text-align: end;
}

li {
    padding-right: 10px;
}

.info2 ul li:last-child {
    padding-right: 0;
    
}

.info2 {
    text-align: end;
}

.close {
    width: 1200px;
    display: flex;
    margin:0 auto;
    text-align: start;
    justify-content: space-between;
    padding: 25px;
    color: blanchedalmond;
}


