/* reset */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    height: 65px;
    background-color: #ff6900;
}

.navigazione {
    width: 1200px;
    display: flex;
    margin:0 auto;
    justify-content: space-between;
    text-align: center;
    padding: 25px;
}

main {
    margin: 60px;

}

.layout {
    margin-top: 60px;
    width: 1200px;
    margin: 0 auto;
    
}

.row {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.colonna {
    height: 700px;
    width: calc(100% / 3 - 40px / 3);
    flex-shrink: 0;
    border: 2px solid black;
}

footer {
    height: 65px;
    background-color: #1a1a1a;
}

ul {
    list-style-type: none;
    display: flex;
    text-align: end;

}

li {
    padding-right: 10px;
}


.info2 {
    text-align: end;
}

.close {
    width: 1200px;
    display: flex;
    margin:0 auto;
    text-align: start;
    justify-content: space-between;
    padding: 25px;
    color: blanchedalmond;
}


